.resultViewModal{
    width: 63vw;
    height: auto;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border-radius: 1em;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    position: absolute;
    padding: 18px 12px !important;
}
.resultViewOverlay{
    position: fixed;
    inset: 0;
    /* backdrop-filter: blur(2px) !important; */
    z-index: 99999;
    background-color: rgba(0,0,0,0.5) !important;
}
.resultViewModal .quickView .row{
    --bs-gutter-x: 0px !important;
}
.resultViewModal .quickView .title{
    font-weight: 600;
    font-size: 18px;
}
.resultViewModal .quickView p{
    font-size: 17px;
}
.resultViewModal .close-btn{
    position: absolute;
    top: -20px;
    right: -18px;
    border-radius: 50% !important;
    font-weight: 600;
}

/* Media Query */
@media screen and (max-width: 991px){
    .resultViewOverlay .resultViewModal{
        width: 85vw;
        padding: 18px 16px !important;
    }
    .resultViewOverlay .resultViewModal .quickView{
        overflow-y: auto;
    }
}
@media screen and (max-width: 767px){
    .resultViewOverlay .resultViewModal{
        width: 90vw;
    }
}
