.screen-title{
    font-size: 32px;
}
.calculator{
    border: 2px solid #1a1a1a;
    background: #e6e6e6;
}
.calculator.border1,
.calculator.border2{
    border-right: 0px ;
}
.result-card{
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    background: #e6e6e6;
}
.result-card .preview-btn{
    background-color: rgb(90, 89, 89);
    color: #fff;
    font-size: 14px;
    height: 36px;
    display: inline-block;
    line-height: 34px;
    width: 115px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid rgb(90, 89, 89);
    cursor: pointer;
    transition: .3s ease-in;
}
.result-card .preview-btn:hover{
    background-color: #e6e6e6;
    color: #000;
}
.input-area{
    border-right: 2px solid #1a1a1a;
}
.calculator-btn{
    background-color: #e6e6e6;
    color: #666666;
    border: 2px solid #666666;
}
.upload{
    border-bottom: 2px solid #1a1a1a;
}
#scrollableDiv1,
#scrollableDiv2{
    height: 405px;
    overflow-y: auto;
}
#scrollableDiv1::-webkit-scrollbar,
#scrollableDiv2::-webkit-scrollbar {
    width: 12px;
}
#scrollableDiv1::-webkit-scrollbar-track,
#scrollableDiv2::-webkit-scrollbar-track{
    background: rgb(90, 89, 89); 
    margin-left: 10px;
    z-index: 999;
}
#scrollableDiv1::-webkit-scrollbar-thumb,
#scrollableDiv2::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 15px;
    border: 2px solid rgb(90, 89, 89);
}
#scrollableDiv1::-webkit-scrollbar-thumb:hover, 
#scrollableDiv2::-webkit-scrollbar-thumb:hover{
    background: #fff; 
}
input[type="text"]{
    outline: none;
    border: 2px solid #d1d1d1;
}
input[type="text"]:focus{
    border: 2px solid #d1d1d1;
}
input[type="text"]:focus,
button:focus{
    box-shadow: none !important;
    outline: none;
}
button{
    outline: none;
}
label{
    display: block;
    text-align: center;
  }
input[type = file]::-webkit-file-upload-button {
    visibility: hidden;
}
 input[type='file']::placeholder {
    color:rgb(133,130,130);
    opacity: 1;
}
.file-upload{
    border: 2px solid #666666;
}
.file-upload input{
    background: #e6e6e6;
    border: none;
    padding: 0px 26px 5px 0px !important;
    font-size: 18px;
}
.file-upload input:focus{
    box-shadow: none;
    border: none;
    background: #e6e6e6;
}
.file-upload label{
    cursor: pointer;
    font-size: 28px;
    color: #646566;
}
.file-upload svg{
    margin-left: 10px;
}
.pagination ul li{
    background-color: #000;
    display: inline-block !important;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin: 0px 4px;
    cursor: pointer;
}
.pagination .white{
    background-color: #ffff;
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 4px 4px;
}
