.calculator{
    border: 2px solid #1a1a1a;
    background: #e6e6e6;
}
.result-card{
    border: 2px solid #1a1a1a;
    border-radius: 15px;
}
.result-card .preview-btn{
    background-color: rgb(90, 89, 89);
    color: #fff;
    font-size: 14px;
    height: 36px;
    display: inline-block;
    line-height: 34px;
    width: 115px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}
.calculator-btn{
    background-color: #e6e6e6;
    color: #666666;
    border: 2px solid #666666;
}
.upload{
    border-bottom: 2px solid #1a1a1a;
    /* height: 250px;
    overflow-y: auto; */
}
input[type="text"]{
    outline: none;
    border: 2px solid #d1d1d1;
}
input[type="text"]:focus{
    border: 2px solid #d1d1d1;
}
input[type="text"]:focus,
button:focus{
    box-shadow: none !important;
    outline: none;
}
button{
    outline: none;
}
label{
    display: block;
    text-align: center;
  }
input[type = file]::-webkit-file-upload-button {
    visibility: hidden;
}
 input[type='file']::placeholder {
    color:rgb(133,130,130);
    opacity: 1;
}
.file-upload{
    border: 2px solid #666666;
}
.file-upload input{
    background: #e6e6e6;
    border: none;
    padding: 0px 26px 5px 26px !important;
    font-size: 18px;
}
.file-upload input:focus{
    box-shadow: none;
    border: none;
    background: #e6e6e6;
}
.file-upload label{
    cursor: pointer;
    font-size: 28px;
    color: #646566;
}